# GitHub Docs Reference
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
*.log

# React Native - Android / iOS
android/.gradle/
android/app/build/
ios/Pods/
ios/build/
*.iml
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment
.env
.env.*
.env*.local

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# System / Editor
.DS_Store
.vscode/
*.pem
*.swp

# TypeScript
*.tsbuildinfo
